// Colours

$white: #ffffff;
$yellow: #ffca00;
$copy-gray: #4c4c4c4c;
$gray: #444444;
$medium-gray: #434343;
$light-gray: #696969;
$yash:#f7f7f7;
$mercury:#E4E4E4;


// Font family

$roboto: "Roboto", Helvetica, Arial, sans-serif;