.faq {
    .hero-banner {
        background-image: url(../../images/img/faq-banner-2.jpg);
    }

    .panel-group {
        max-width: 900px;
        margin: auto;
    }

    .panel {

        margin-bottom: 30px;
        box-shadow: 2px 2px 6px 0px #b3afaf78;
        border-radius: 10px;
        overflow: hidden;
    }

    .panel-heading {
        padding: 15px;
        background: $blue;
    }

    .panel-title {
        margin-bottom: 0;

        a {
            color: $white;
            position: relative;
            display: block;

            &::before {
                content: "-";
                width: 30px;
                height: 30px;
                position: absolute;
                right: 15px;
                background: $white;
                color: $blue;
                text-align: center;
                border-radius: 50%;
                font-size: 25px;
            }

            &.collapsed {
                &::before {
                    content: "+"
                }
            }

            &:hover {
                text-decoration: none;
            }
        }

    }

    .panel-body {
        padding: 15px;
    }
}