.services {
    .hero-banner {
        background-image: url(../../images/img/services.jpg);
        @include mobile {
            background-image: url(../../images/img/services-mobile.jpg);

        }
    }

    .service-banner {
        background: url(../../images/img/services-2.jpg);
        background-size: cover;
        background-position: center;

        * {
            color: $white;
        }
    }

    hr {
        margin-bottom: 50px;
        margin-top: 0
      
    }
}

.service-wrap {
    .row {
        align-items: flex-start;
    }

    img {
        border-radius: 30px;
        box-shadow: 2px 2px 5px #33333391;
    }
}